KEYCLOAK_CONTAINER_NAME=keycloak
KEYCLOAK_HOST_PORT=9001
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-keycloak-admin-password

# EC2 public domain or public IP. Example: erp.example.com or 13.125.10.20
KEYCLOAK_HOSTNAME=localhost
KEYCLOAK_HTTP_ENABLED=true
KEYCLOAK_START_MODE=start-dev
KEYCLOAK_THEME_STATIC_MAX_AGE=-1
KEYCLOAK_THEME_CACHE_THEMES=false
KEYCLOAK_THEME_CACHE_TEMPLATES=false

POSTGRES_CONTAINER_NAME=postgres
POSTGRES_DB=keycloak-db
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=change-me-postgres-password
